#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name={{ item.name }}
Exec=/usr/lib64/chromium-browser/chromium-browser.sh --profile-directory=Default --app="{{ item.url }}" --class=WebApp-{{ item.file }}
Icon={{ base_pwa }}{{ item.file }}.png
StartupWMClass=crx_{{ item.file }}
